---
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header>
  <h1 class='text-center text-5xl mt-6'>{i18n.HEADER_TITLE}</h1>
  <nav class='absolute top-6 right-4'>
    <a
      href='/'
      class='p-3 text-2xl hover:text-[#b8b8b8]'
      >{i18n.SPANISH_LANGUAGE}</a
    >
    <a
      href='/en'
      class='p-3 text-2xl hover:text-[#b8b8b8]'
      >{i18n.ENGLISH_LANGUAGE}</a
    >
  </nav>
</header>
