---
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header>
  <nav class='absolute right-4 top-4 lg:text-2xl text-[20px]'>
    <a
      href='/'
      class='p-3 hover:text-[#b8b8b8]'
      >{i18n.SPANISH_LANGUAGE}</a
    >
    <a
      href='/en'
      class='p-3 hover:text-[#b8b8b8]'
      >{i18n.ENGLISH_LANGUAGE}</a
    >
    <a
      href='/eus'
      class='p-3 hover:text-[#b8b8b8]'
      >{i18n.BASQUE_LANGUAGE}</a
    >
  </nav>
  <br class='lg:hidden' />
  <h1 class='text-center lg:text-5xl text-4xl mt-10'>
    {i18n.HEADER_TITLE}
  </h1>
</header>
