---
import { getLang } from '@/i18n/utils'
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const { currentLocale } = Astro
const lang = getLang({ currentLocale })
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: #fff;
  }
</style>
